
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Panel Ana Sayfa</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Ana Sayfa</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @*Kullanıcı Sayısı*@
        @await Component.InvokeAsync("TotalUsersCount")
        @*Blog Sayısı*@
        @await Component.InvokeAsync("TotalBlogsCount")
        @*Yorum Sayısı*@
        @await Component.InvokeAsync("TotalCommentsCount")
    </div>
    <div class="row">
        @*Yeni Katılan Üye*@
        @await Component.InvokeAsync("NewUser")
        @*Son Eklenen Blog*@
        @await Component.InvokeAsync("LastAddedBlog")
    </div>
</div>

