@model IBlog.Entities.DTO.PanelComponent.LastAddedBlogDTO
<div class="col-lg-4">
    <div class="widget-head-color-box lazur-bg p-lg text-center">
        <div class="m-b-md">
            <h2 class="font-bold no-margins">
                En Son Eklenen Blog
            </h2>
        </div>
        @if (Model != null)
        {
            <img src="/images/@Model.Image" class="img-small" style="width:160px;height:160px;">
        }
    </div>
    <div class="widget-text-box">
        @if (Model != null)
        {
            <h4 class="media-heading">@Model.Name</h4>
            <p>@Model.Explanation</p>
        }
        else
        {
            <h4 class="media-heading">Bulunamadı..</h4>
        }
    </div>
</div>