<div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <span>
                    <img alt="image" class="img-circle img-responsive img-small" style="width:48px;height:48px;" src="/images/@ViewBag.UserInfo.AvatarImage" />
                </span>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs">
                            <strong class="font-bold">@ViewBag.UserInfo.NameSurname</strong>
                        </span> <span class="text-muted text-xs block">@ViewBag.UserInfo.Role <b class="caret"></b></span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="/panel/users/Index/@ViewBag.UserInfo.Id">Profil Düzenle</a></li>
                    <li><a href="/panel/users/passwordchanged/@ViewBag.UserInfo.Id">Şifre Değiştir</a></li>
                    <li class="divider"></li>
                    <li><a href="/panel/logout">Çıkış Yap</a></li>
                </ul>
            </div>
            <div class="logo-element">
                @ViewBag.UserInfo.NameSurnameFirstChar
            </div>
        </li>
        @if (ViewBag.UserInfo.Role == "Yönetici")
        {
            <li>
                <a href="/panel/users/UserList"><i class="fa fa-users"></i> <span class="nav-label">Kullanıcılar</span></a>
            </li>
        }
        <li>
            <a href="/panel/categories/Index"><i class="fa fa-list"></i> <span class="nav-label">Kategoriler</span></a>
        </li>
        <li>
            @if (ViewBag.UserInfo.Role == "Yönetici")
            {
                <a href="/panel/blogs/Index"><i class="fa fa-book"></i> <span class="nav-label">Bloglar</span></a>
            }
            else
            {
                <a href="/panel/blogs/UserBlogsList/@ViewBag.UserInfo.Id"><i class="fa fa-book"></i> <span class="nav-label">Bloglarım</span></a>

            }
        </li>
        <li>
            <a href="/panel/comments/Index"><i class="fa fa-comment"></i> <span class="nav-label">Yorumlar</span></a>
        </li>
        <li class="landing_link">
            <a target="_blank" href="/home"><i class="fa fa-star"></i> <span class="nav-label">Blog Ana Sayfa</span></a>
        </li>
    </ul>
</div>