<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>IBlog - @ViewBag.Title</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <!-- plugins -->
    <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
    <link rel="stylesheet" href="/ui/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">
    <link rel="stylesheet" href="/ui/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/ui/plugins/slick/slick.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/ui/css/style.css">

    <!--Favicon-->
    <link rel="shortcut icon" href="/ui/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/ui/images/favicon.png" type="image/x-icon">
</head>

<body>
    <!-- navigation -->
    @await Component.InvokeAsync("GetHeaderNavbar")
    <!-- /navigation -->

    <section class="section">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>

    <footer class="section-sm pb-0 border-default">
        <div class="container">
            <div class="scroll-top">
                <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
            </div>
            <div class="text-center">
                <p class="content">&copy; 2022</p>
            </div>
        </div>
    </footer>
</body>
</html>

<!-- JS Plugins -->
<script src="/ui/plugins/jQuery/jquery.min.js"></script>
<script src="/ui/plugins/bootstrap/bootstrap.min.js" async></script>
<script src="/ui/plugins/slick/slick.min.js"></script>

<!-- Main Script -->
<script src="/ui/js/script.js"></script>