@model IList<IBlog.Entities.DTO.Blogs.BlogsListDTO>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Blog Listesi</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/panel/home/Index">Ana Sayfa</a>
            </li>
            <li class="active">
                <strong>Blog Listesi</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Blog Listesi</h5>
                </div>
                <div class="ibox-content">
                    <a href="/panel/blogs/Insert" class="btn btn-primary btn-outline">Yeni</a>
                    <div class="table-responsive" style="margin-top:10px;">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>Adı</th>
                                    <th style="text-align:center;">Kategori Adı</th>
                                    <th style="text-align:center;">Yayınlanma Tarihi</th>
                                    <th style="text-align:center;">Durum</th>
                                    <th style="text-align:center;">Yorumlar</th>
                                    <th style="width: 10%; text-align: center;">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td style="text-align:center;">@item.CategoryName</td>
                                        <td style="text-align:center;">@item.PublishDateTime</td>
                                        <td style="text-align:center;">
                                            @if (item.Status)
                                            {
                                                <label style="color:green">Aktif</label>
                                            }
                                            else
                                            {
                                                <label style="color:red">Pasif</label>
                                            }
                                        </td>
                                        <td style="text-align:center;">
                                            @if (item.Comments.Count > 0)
                                            {
                                                <a class="btn btn-sm btn-outline btn-primary" href="/panel/comments/Index/@item.Id">Git</a>
                                            }
                                            else
                                            {
                                                <label>Yorum Yok</label>
                                            }
                                        </td>
                                        <td style="text-align:center;">
                                            <a class="btn btn-sm btn-outline btn-success" href="/Panel/Blogs/Update/@item.Id">Güncelle</a>
                                            <a class="btn btn-sm btn-outline btn-danger" href="/Panel/Blogs/Delete/@item.Id">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>